<div class="container">
  <form method="POST" action="/create-user">
    <p class="title">Form add new user</p>
    {{! <label for="id">ID</label>
    <input type="text" id="id" name="id" placeholder="Your ID..." /> }}

    <label for="email">Your email</label>
    <input type="text" id="email" name="email" placeholder="Your email..." />

    <label for="name">Your fullname</label>
    <input type="text" id="name" name="name" placeholder="Your name..." />

    <label for="city">Your city</label>
    <input type="text" id="city" name="city" placeholder="Your city..." />

    <input type="submit" value="Submit" />

  </form>
</div>